.font_family-Roboto {
    font-family: 'Roboto'
}

.font_family-Noto-Sans-JP {
    font-family: 'Noto Sans JP'
}

.font_family-Montserrat {
    font-family: 'Montserrat'
}

.font_family-Lato {
    font-family: 'Lato'
}

.font_family-Poppins {
    font-family: 'Poppins'
}

.font_family-Roboto-Condensed {
    font-family: 'Roboto Condensed'
}

.font_family-Inter {
    font-family: 'Inter'
}

.font_family-Material-Icons {
    font-family: 'Material Icons'
}

.font_family-Oswald {
    font-family: 'Oswald'
}

.font_family-Roboto-Mono {
    font-family: 'Roboto Mono'
}

.font_family-Noto-Sans {
    font-family: 'Noto Sans'
}

.font_family-Raleway {
    font-family: 'Raleway'
}

.font_family-Playfair-Display {
    font-family: 'Playfair Display'
}

.font_family-Nunito-Sans {
    font-family: 'Nunito Sans'
}

.font_family-Ubuntu {
    font-family: 'Ubuntu'
}

.font_family-Noto-Sans-KR {
    font-family: 'Noto Sans KR'
}

.font_family-Rubik {
    font-family: 'Rubik'
}

.font_family-Merriweather {
    font-family: 'Merriweather'
}

.font_family-Nunito {
    font-family: 'Nunito'
}

.font_family-Roboto-Slab {
    font-family: 'Roboto Slab'
}

.font_family-Noto-Sans-TC {
    font-family: 'Noto Sans TC'
}

.font_family-PT-Sans {
    font-family: 'PT Sans'
}

.font_family-Kanit {
    font-family: 'Kanit'
}

.font_family-Lora {
    font-family: 'Lora'
}

.font_family-Work-Sans {
    font-family: 'Work Sans'
}

.font_family-Fira-Sans {
    font-family: 'Fira Sans'
}

.font_family-DM-Sans {
    font-family: 'DM Sans'
}

.font_family-Mulish {
    font-family: 'Mulish'
}

.font_family-Barlow {
    font-family: 'Barlow'
}

.font_family-Quicksand {
    font-family: 'Quicksand'
}

.font_family-PT-Serif {
    font-family: 'PT Serif'
}

.font_family-Heebo {
    font-family: 'Heebo'
}

.font_family-Manrope {
    font-family: 'Manrope'
}

.font_family-IBM-Plex-Sans {
    font-family: 'IBM Plex Sans'
}

.font_family-Noto-Serif {
    font-family: 'Noto Serif'
}

.font_family-Libre-Franklin {
    font-family: 'Libre Franklin'
}

.font_family-Titillium-Web {
    font-family: 'Titillium Web'
}

.font_family-Noto-Sans-SC {
    font-family: 'Noto Sans SC'
}

.font_family-Karla {
    font-family: 'Karla'
}

.font_family-Josefin-Sans {
    font-family: 'Josefin Sans'
}

.font_family-Mukta {
    font-family: 'Mukta'
}

.font_family-Inconsolata {
    font-family: 'Inconsolata'
}

.font_family-Nanum-Gothic {
    font-family: 'Nanum Gothic'
}

.font_family-Arimo {
    font-family: 'Arimo'
}

.font_family-Libre-Baskerville {
    font-family: 'Libre Baskerville'
}

.font_family-Dosis {
    font-family: 'Dosis'
}

.font_family-Material-Icons-Outlined {
    font-family: 'Material Icons Outlined'
}

.font_family-PT-Sans-Narrow {
    font-family: 'PT Sans Narrow'
}

.font_family-Noto-Sans-HK {
    font-family: 'Noto Sans HK'
}